@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body {
    padding: 0px;
    margin: 0px;
    color: rgb(63, 62, 62);
    font-family: sans-serif;
    overflow: scroll;
}



.app-container { 
    width: 100vw;
    height: 100vh;
    background-color: rgba(243, 249, 252, 0.774);
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
